{% extends 'base.html.twig' %}

{% block title %}Equipes{% endblock %}
 
{% block body %}
<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="equipe_tab" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-equipe" aria-selected="true">Equipe</button>
        <button class="nav-link" id="manager_tab" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-manager" aria-selected="false">Manager</button>
        <button class="nav-link" id="joueur_tab" data-bs-toggle="pill" type="button" role="tab" aria-controls="v-pills-joueur" aria-selected="false">Joueur</button>
        <button class="nav-link" data-bs-toggle="pill" type="button" id="accueil" role="tab" aria-controls="v-pills-joueur" aria-selected="false">Accueil</button>
    </div>
</div>
<div class="wrapper">
    <h1>EQUIPE</h1><br>
    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.ville) }}
        <button type="submit" class="btn btn-success">Creer Equipe</button>
    {{ form_end(form) }}
</div>
</style>
{% endblock %}